



.hero-section-about {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.1) ), url(../img/bg-about.webp);
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    top: 56px;
    left: 0;
    background-position: center center;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 851px) {
            top: 82px;
            }

    @media only screen and (max-width: 425px) {
        top: 49.78px;
      }
    
}

.hero-section-about h3 {
    color: var(--color1);

    font-weight: 600;
    font-size: 3rem;
    font-stretch: expanded;
    letter-spacing: 7px;
    z-index: 1; 


    @media (max-width: 1024px){
      font-size: 2.5rem;
  }

    @media (max-width: 423px){
        font-size: 2rem;
    }
}


.sezione-3 {
  display: flex;

  @media only screen and (max-width: 1025px){
    display: flex;
    flex-direction: column-reverse;
  }

}




.set-img{
  padding: 70px;

  @media (max-width: 1024px){
    padding: 10px 100px 100px 100px;
}
  @media (max-width: 423px){
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
  }
}